/*
 * Custom design Kausari Films
 */

@font-face{
	font-family: 'ZrnicRg-Regular';
	src: url(../fonts/ZrnicRg-Regular.woff) format('woff'), url(../fonts/ZrnicRg-Regular.ttf) format('truetype'), url(../fonts/ZrnicRg-Regular.eot) format('embedded-opentype'), url(../fonts/ZrnicRg-Regular.svg#ZrnicRg-Regular) format('svg');
}

body{
	font-family: Arial, Calibri;
	color: #FFF;
	background-color: #44382F;
}

.bg{
	background-color: #44382F;
}

.container{
	width: 100%;
	margin: 0;
}

.content{
	width: 100%;
	margin: 0 auto;
	border: none;
	background: #FFF url(../images/top-bg.jpg) top center;
	color: #212121;
}

.content-row{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-top: 10px;
}

.top-banner{
	width: 100%;
}

.top-banner .top-logo{
	max-width: 200px;
}

.navigation{
	width: auto;
}

.navigation nav{
	max-width: 1090px;
	line-height: 60px;
	margin: 0 auto;
}

.navigation nav a{
	font-family: Conv_TheRustic-Demo;
	display: block;
	text-align: center;
	font-weight: bolder;
}

.navigation nav a.active{
	color: #AC704E;
}

.navigation nav .nav-icon{
	padding-right: 5px;
	position: relative;
}

.enter-bg{
	position: relative;
	max-width: 100%;
	height: 1080px;
	height: auto;
	display: block;
	background-size: contain;
}

.bg-cover{
	position: relative;
	max-width: 100%;
	height: auto;
	background: transparent;
	background-size: contain;
}

.index-button{
	position: absolute;
	z-index: 1;
	margin-left: auto;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	width: 20%;
	height: 10%;
}

.index-button.link-bar{
	top: 52%;
	left: 41%;
}

.index-button.link-res{
	top: 65%;
	left: 41%;
}

.bg-sign-way{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 220px;
	padding-top: 40px;
	top: 20%;
	background: transparent;
	background-size: 20%;
}

.bg-sign-way li{
	margin-top: 0px;
	display: block;
	text-align: center;
	background-color: transparent;
	margin-bottom: 18px;
}

.bg-sign-way li a{
	display: block;
	margin: 0;
	line-height: 60px;
	color: #E2D3CC;
	font-size: 21pt;
}

.bg-links{
	display: block;
	height: 120px;
	line-height: 120px;
	width: 100%;
}

.bg-links a{
	color: #010101;
}

.social-links{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 250px;
}

.social-links li{
	color: #FFF;
}

.social-links li a{
	display: block;
	margin-left: 15px;
	margin-right: 15px;
}

.icon{
	position: relative;
	background: transparent;
	display: block;
}

.inline a{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.icon.minimal{
	width: 30px;
	height: 30px;
}

.icon.close{
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.gallery{
	position: relative;
}

.gallery .row{
	border-bottom: 1px solid #FFF;
}

.gallery .row:last-child{
	border-bottom: none;
}

.gallery .gallery-preview{
	position: relative;
	display: block;
	margin: 1px;
}

.gallery .gallery-preview img{
	padding: 10px;
}

.page{
	background: rgba(255,255,255,0.3);
	padding: 15px 20px;
	border-radius: 5px;
	color: #331A00;
}

.page-title{
	line-height: 10px;
}

.notice-work{
	width: 890px;
	margin: 0 auto;
	line-height: 20px;
}

.footbar{
	border-top: 1px solid #FFF;
	width: 90%;
	margin: 0 auto;
	line-height: 40px;
	color:#FFF;
}

.footer{
	border-top: 2px solid #44382F;
	width: 100%;
	margin: 0;
	background: #44382F url(../images/foot-bg.jpg) repeat-x top left;
	display: block;
}

#index-intro{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #433B33;
}

#index-intro .logo{
	width: 30%;
	margin: 10% auto;
}

#module-b{
	width:100%;
}

#module-b .text{
	text-align: center;
	padding: 20px;
}

.notice-work{
	margin:0 auto;
	width: 200px;
	background: rgba(255,255,255,0.4);
}

/* Modal style */

.modal-background .modal-container{
	margin-top: 5%;
	max-width: 800px;
	border-radius: 5px;
}

.modal-background .modal-container .modal-content{
	background: #FFF;
	border-radius: 5px;
	margin: 2px;
	padding: 15px;
	color: #000;
}

/* Player skin */
.jp-audio *:focus{
	outline: none; 
}

.jp-audio button::-moz-focus-inner{
	border: 0;
}

.jp-audio{
	width: 100%;
}

.jp-jplayer{
	background-color: #000;
}

.jp-audio .jp-interface{
	height: auto;
}

.jp-interface{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: hidden;
	border-radius: 10px;
	display: block;
	width: 100%;
	height: auto;
	background: #000;
}

.jp-interface .jp-progress{
	background-color: #FCFCFC;
}

.jp-interface .jp-seek-bar{
	display: block;
	background-color: #AFAFAF;
	cursor: pointer;
}

.jp-interface .jp-play-bar{
	display: block;
	width: auto;
	height: 10px;
	background-color: #000000;
}

.jp-controls-holder{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.jp-interface .jp-controls{
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background: #FFF;
}

.jp-audio .jp-controls{
	width: auto;
}

.jp-controls button{
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}

.jp-controls .jp-play{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 25px 0px 25px 50px;
	border-color: transparent transparent transparent #000;
}

.jp-state-playing .jp-play{
	height: 50px;
	width: 0px;
	border-style: double;
	border-width: 0px 50px 0px 0px;
	border-color: transparent #000 transparent #000;
}

.jp-state-no-volume .jp-volume-controls{
	display: none;
}

.jp-volume-controls{
	width: 100%;
	height: 10px;
}

.jp-volume-controls button{
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
}

.jp-mute,
.jp-volume-max{
	width: 18px;
	height: 15px;
}

.jp-volume-max {
	left: 74px;
}

.jp-volume-bar{
	margin: 0 auto;
	overflow: hidden;
	background: #AFAFAF;
	width: 90px;
	height: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.jp-volume-bar-value{
	background: #000;
	width: 0px;
	height: 10px;
}

/* loading animations */
.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.lds-dual-ring:after {
	position: relative;
	content: " ";
	display: block;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

/*Owl style*/
.owl-nav{
	margin: 0 auto;
}

.owl-nav .owl-prev{
	float: left;
}
.owl-nav .owl-next{
	float: right;
}
.owl-nav .owl-prev,
.owl-nav .owl-next{
	margin:10px;
	width: 20px;
	font-size: 90px !important;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 430px){

	#navbar-logo{
		float: left;
		max-width: 180px !important;
		background-size: 180px 75px !important;
		height: 100px !important;
		margin-right: 0px;
	}

}