/*
 * Custom design Kausari Films
 */

@font-face{
	font-family: 'ZrnicRg-Regular';
	src: url(../fonts/ZrnicRg-Regular.woff) format('woff'), url(../fonts/ZrnicRg-Regular.ttf) format('truetype'), url(../fonts/ZrnicRg-Regular.eot) format('embedded-opentype'), url(../fonts/ZrnicRg-Regular.svg#ZrnicRg-Regular) format('svg');
}

body{
	font-family: 'MyriadPro-Regular', Arial, Calibri;
	color: #343434;
	background-color: #382A23;
}

.container{
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
	background: url(../images/index/land.jpg) center top no-repeat;
}

@media screen and (max-width: 430px){

	#navbar-logo{
		float: left;
		max-width: 180px !important;
		background-size: 180px 75px !important;
		height: 100px !important;
		margin-right: 0px;
	}

}