body{
    /*background: rgb(245,224,128) linear-gradient(0deg, rgba(245,224,128,1) 0%, rgba(254,108,21,1) 100%) no-repeat;*/
    background: #44382F;
    /*background-image: url(../images/FACE2.jpg);*/
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    max-width: 980px;
    margin: 0px auto;
}

.content .title{
    font-family: 'hold_fast';
    display: block;
    line-height: 80px;
    margin: 0 auto;
}

/* body styles */

.background-view{
    margin: 0;
    position: relative;
    background-color: #000;
    width: 100%;
    min-height: 600px;
    max-height: calc(100vw * 710 /1200);
    height: 94vh;
    overflow: hidden;
}

.background-view .v-area{
    position: absolute;
    z-index: inherit;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.background-view .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.top-headlines{
    color:#FFF;
    display: block;
    text-align: center;
}

.top-subline{
    color:#FFF;
}

#bussines, #services, #reviews{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bussines, #services, #reviews, #contacts{
    color: #FFF;
}

/* Header styles */

.header{
    width: 100%;
    margin: 0;
    z-index: 2;
    background-color: #4b3d2e;
    position: relative;
}

.top-menu{
    margin: 5px;
}

.top-menu li{
    margin-left: 2px;
    margin-right: 2px;
}

.top-menu li a{
    padding: 10px 15px;
    color: #FFF;
    line-height: 50px;
    font-size: 15pt;
    text-transform: uppercase;
    font-family: Tahoma;
}

.nav-brand{
    background-color: transparent;
}

.nav-brand .logo-image{
    display: block;
    margin: 20px;
    width: 160px;
}

/* Footer Styles */

.footer{
    color: #FFF;
    margin-top: 60px;
}

.text-content{
    margin-left: 10px;
    margin-right: 10px;
}

/* Navigation styles */

.nav-side .btn-navbar{
    margin: 0 auto;
    background: #43351A;
    color: #FFF;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 1px solid rgb(27, 20, 2);
    border-radius: 5px;
    overflow: hidden;
    text-transform: uppercase;
}

.nav-side .btn-navbar svg{
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    fill: #FFF;
}

.nav-side .btn-navbar:hover{
    background-color: #000;
}

.navigation{
    z-index: 1;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    background-color: #4b3d2e;
    display: block;
    position: relative;
}

.logo{
    font-size: 22pt;
    color:aliceblue;
    margin: 15px 0px;
    padding: 10px;
}

.logo .top-image{
    width: 160px;
}

.btn-navbar{
    display: block;
}

.btn-basic{
    padding: 20px;
    font-size: 12pt;
}

.links-nav{
    display: block;
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.links-nav .nav-list{
    display: inline-block;
}

.links-nav .nav-list li{
    padding: 20px;
}

.links-nav .nav-icon{
    width: 40px;
}

.links-nav .g-svg{
    width: 40px;
    height: 40px;
    fill:rgb(13, 106, 237);
}

/* box and squares styles */

.box{
    margin: 10px;
}

.box .box-logo{
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
}

.box .title{
    text-align: left;
    line-height: 40px;
}

.box .text{
    display: table;
}

/* Customize panels */

.custom-1{ /* custom 1 */
    margin-top: 10%;
    bottom: 0px;
    color:#FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-1 .banner-logo{
    max-width: 200px;
    margin: auto;
    display: block;
}

.custom-1 .title{
    text-align: center;
}

.custom-2{ /* custom 2 */
    width: 100%;
    color: #FFF;
    position: relative;
    display: block;
}

.custom-2 .details{
    padding: 20px;
}

.custom-2 .details .title{
    line-height: 25pt;
}

.custom-2 .details .text{
    padding: 10px;
}

.custom-2 .details.m-rgt{
    width: 50%;
    margin-left: 50%;
}

.custom-2 .details.m-lft{
    width: 50%;
    margin-right: 50%;
}

.custom-3 .box{ /* custom 3 */
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    display: block;
    background-color: #FFF;
}

.custom-3 .box .options{
    position: absolute;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.custom-3 .box .options .area{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    top: -20px;
    text-align: center;
}

.custom-3 .btn-icon{
    cursor: pointer;
}

.custom-3 .btn-icon svg{
    width: 40px;
    height: 40px;
}

.custom-3 .box .nav-list{
    display: inline-block;
    position: relative;
}

.custom-3 .box .nav-list li{
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

/* Buttons */

.btn-push{
    display: block;
    cursor: pointer;
    padding: 18px;
    background-color: #F04;
    font-size: 25pt;
    color: #FFF;
    border-radius: 20px;
}

.btn-icon{
    display: inline-block;
    background: transparent;
    width: 20px;
    height: 20px;
}

.btn-icon svg{
    fill: #FFF;
}

/* -- Main sections styles -- */

.content-section{
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-section .btn{
    margin: 5px;
}

/* dialog styles */

.nav-list li{
    margin: 5px;
}

/* Other styles */

.map-view{
    width: 100%;
    height: auto;
}

.enter-bg{
	position: relative;
	max-width: 100%;
	height: auto;
	display: block;
	background-size: contain;
}

.bg-cover{
	position: relative;
	max-width: 100%;
	height: auto;
	background-color: #2484F5;
	background-size: contain;
}

#index-intro{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #433B33;
}

#index-intro .logo{
	width: 30%;
	margin: 10% auto;
}

.index-button{
	position: absolute;
	z-index: 1;
	margin-left: auto;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	width: 20%;
	height: 10%;
}

.index-button.link-bar{
	top: 52%;
	left: 41%;
}

.index-button.link-res{
	top: 65%;
	left: 41%;
}

.bg{
	background-color: #F3E7C1;
}

.link-menu{
    color:#FFF;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 20px;
}

.link-menu:hover{
    color:#F3E7C1;
}

.QMbmRe{
    width: 100%;
    height: 700px;
    display: block;
}

/*  */
.modal-background{
    z-index: 99999;
}

.modal-background .modal-content{
    background-color: #FFF;
    max-width: 980px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.button-icon{
    display: block;
    padding: 10px;
    background-color: #FFF;
    color: #000;
}

/* landscape style */
@media (min-width: 481px) and (max-width: 767px){

    #mobile-menu{
        width: 200px;
        height: 100%;
        background-color: #44382F;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    #mobile-menu.collapsed{
        left: -200px;
    }

    #mobile-menu .top-menu li{
        display: block;
        width: 100%;
    }

    #mobile-menu .top-menu li a{
        text-align: left;
    }

    .nav-side{
        z-index: 99999999999;
        width: 166px;
    }

    .nav-side .btn-navbar{
        display: block;
        visibility: visible;
    }

    .row .col-3{
        width: 50%;
    }

    /* dialog box */
    .custom-2{
        height: auto;
        position: relative;
        display: flex;
    }
    .custom-2 .details{
        display: block;
    }
    .custom-2 .details.m-rgt{
        margin-left: 0;
        width: 100%;
        margin-top: 50%;
    }
    .custom-2 .details.m-lft{
        margin-right: 0;
        width: 100%;
        margin-top: 50%;
    }

}

@media (min-width: 320px) and (max-width: 480px){

    #mobile-menu{
        width: 200px;
        height: 100%;
        background-color: #44382F;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    #mobile-menu.collapsed{
        left: -200px;
    }

    #mobile-menu .top-menu li{
        display: block;
        width: 100%;
    }

    #mobile-menu .top-menu li a{
        text-align: left;
    }

    .nav-side{
        width: 166px;
    }

    .nav-side .btn-navbar{
        display: block;
        visibility: visible;
    }

    .row .col-3{
        width: 50%;
    }

    /* dialog box */
    .custom-2{
        height: auto;
        position: relative;
        display: flex;
    }
    .custom-2 .details{
        display: block;
        
    }
    .custom-2 .details.m-rgt{
        margin-left: 0;
        width: 100%;
        margin-top: 50%;
    }
    .custom-2 .details.m-lft{
        margin-right: 0;
        width: 100%;
        margin-top: 50%;
    }

}