---
# mobile style
---

@import 'template';
@import 'fonts';

body{
    background: $primary-color;
    margin: 0px;
    font-family: $font-body;
}

.content{
    max-width: 980px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.content-section{
    .content{
        padding-top: 60px;
    }
}

.white-bg{
    background-color: #FFF;
}

.red-bg{
    background-color: $secondary-color;
}

.transparent-bg{
    background: transparent;
}

.white-color{
    color: #FFF;
}

.black-color{
    color: #000;
}

.red-color{
    color: $secondary-color;
}

.brown-color{
    color: #311a09;
}

/* titles styles */
.top-title{
    font-family: 'hold_fast';
}

.text-capi{
    text-transform: uppercase;
}

.text-shadow{
    text-shadow: 3px 3px 9px #000;
}

.style-bold{
    font-weight: bolder;
}

.poppins{
    @extend %poppins;
}

.poppins-light{
    @extend %poppins-light;
}

.poppins-medium{
    @extend %poppins-medium;
}

.poppins-semibold{
    @extend %poppins-semibold;
}

.poppins-extrabold{
    @extend %poppins-extrabold;
}

.lh1{
    line-height: 10pt;
}.lh2{
    line-height: 20pt;
}.lh3{
    line-height: 30pt;
}.lh4{
    line-height: 40pt;
}.lh5{
    line-height: 50pt;
}.lh6{
    line-height: 60pt;
}.lh7{
    line-height: 70pt;
}.lh8{
    line-height: 80pt;
}.lh9{
    line-height: 90pt;
}.lh018{
    line-height: 18pt;
}

.t1{
    font-size: 10pt;
}.t2{
    font-size: 20pt;
}.t3{
    font-size: 30pt;
}.t4{
    font-size: 40pt;
}.t5{
    font-size: 50pt;
}.t6{
    font-size: 60pt;
}.t7{
    font-size: 70pt;
}.t8{
    font-size: 80pt;
}

.text-justify{
    text-align: justify;
}

/* Header styles */
.header{

    width: 100%;
    margin: 0;
    z-index: 2;
    position: relative;
    background: transparent url('../images/header-bg.png') center bottom no-repeat;

    .top-custom{
        width: 100%;
        .top-logo{
            max-width: 150px;
            margin: auto;
            padding: 10px;
            margin-bottom: 6px;
        }
    }

    .navigation{

        z-index: 1;
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: $secondary-color;
        display: block;
        position: relative;

        .top-menu{
            margin: 5px;
            li{
                margin-left: 2px;
                margin-right: 2px;
                a{
                    @extend %poppins-medium;
                    padding: 10px 15px;
                    color: #FFF;
                    line-height: 40px;
                    font-size: 14pt;
                }
            }
        }

    }

    .nav-brand{
        background-color: transparent;
    }

    .btn-navbar{
        @extend %poppins-medium;
        font-size: 14pt;
        padding-top: 4px;
        padding-bottom: 2px;
    }

}

/* Show cases */
.background-view{

    .content{
        position: relative;
    }
    
    .titles{
        position: absolute;
        z-index: inherit;
    }.top{
        top: 0;
    }.left{
        left: 0;
    }.bottom{
        bottom: 0;
    }.right{
        right: 0;
    }.full{
        width: 100%;
    }
}

/* mark style */
.r-mark{
    display: inline-block;
    border-radius: 7px 7px 7px 7px;
}
.r-mark.default{
    padding: 1px 5px;
}
.r-mark.box{
    padding: 10px;
}
.r-mark.red{
    background-color: $secondary-color;
}
.r-mark.white{
    background-color: #FFF;
}
.r-mark.brown{
    background-color: #311a09;
}
.r-mark.padding-1{
    padding-left: 10px;
    padding-right: 10px;
}
.r-mark.padding-2{
    padding-left: 20px;
    padding-right: 20px;
}
.r-mark.b1{
    border: 1px solid $secondary-color;
}

/* Boxes styles */
.box{
    padding: 20px;
}

.list-center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.dialog{
    margin: 30px;
    display: block;
    position: relative;
}
.dialog.top{
    margin-top: 30px;
    position: absolute;
}
.dialog.bottom{
    margin-bottom: 30px;
    position: absolute;
}

.box-image{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.highline{
    clear: both;
}

.sp-v{
    display: block;
    float: left;
    clear: both;
    width: 1px;
    height: 100%;
}

/* buttons styles */
.btn-none{
    background-color: transparent;
}

/* tab stykes */
.tab-mode{
    .tab-titles{
        max-width: 560px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        .tab-title{
            display: block;
            color: $third-color;
            cursor: pointer;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 7px;
        }
        .selected{
            background-color: $secondary-color;
            color: #FFF;
        }
    }
    .tab-content{
        display: block;
        position: relative;
        .owl-stage-outer{
            padding-top: 20px;
        }
        .item{
            margin: 0;
            .carousel-picture{
                border-radius: 20px;
                overflow: hidden;
            }
        }
        .active{
            border: 5px solid transparent;
        }
        .center{
            z-index: 1;
            border: none;
            .item{
                position: relative;
                z-index: 999em;
                img{
                    margin-top: -20px;
                    margin-left: -10px;
                    width: 208px;
                }
            }
            .carousel-picture{
                margin: 0px;
                overflow: hidden;
                clear: both;
            }
            .carousel-title{
                display: block;
            }
        }
        .carousel-title{
            display: none;
        }
    }
}

/* navbar list */
.nav-list{
    list-style-type: none;
    li{
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* form styles */
#contacts{
    .form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        input, textarea{
            border-radius: 5px;
            padding: 15px 20px;
        }
        input:placeholder-shown, textarea:placeholder-shown{
            color:#000;
            font-family: 'Poppins Medium';
            font-size: 9pt;
        }
    }
    .btn-title{
        font-size: 16pt;
    }
}

/* intro styles */
.link-center{
    display: block;
    width: 20%;
	margin-top: 32%;
    margin-left: 40%;
}

.link-center .link{
    display: block;
    line-height: 80px;
    text-indent: -9999em;
}

#index-intro{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: $primary-color;
}

#index-intro .logo{
    display: block;
    top: 10px;
	max-width: 200px;
    margin-top: 30%;
	margin-left: auto;
    margin-right: auto;
}

.bg{
	background-color: #F3E7C1;
}

/* backgrounds */
#about{
    background: transparent url('../images/topshow-bg.png') center top no-repeat;
    padding-top: 50px;
}

#menu{
    background: transparent url('../images/menu-bg.png') center bottom no-repeat;
    padding-top: 50px;
}

#info{
    background: transparent url('../images/bottom-bg.png') center top no-repeat;
    margin-bottom: 60px;
    .row{
        position: relative;
    }
    .border-sp{
        display: block;
        width: 0px;
        height: 130px;
        border-left: 1px solid #E5F321;
        position: absolute;
        margin-top: 180px;
        top: 0;
    }
    .col-3:first-child .border-sp{
        display: none;
    }
}

#reviews{
    background: transparent url('../images/bottom-bg.jpg') center top;
    .item{
        margin: 10px;
    }
    .review-box{
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 9px 2px #a5a5a5;
    }
    .scale-text{
        height: 110px;
        overflow: hidden;
    }
    .scale-text p:after{
        content: '..';
    }
    .block-start{
        display: block;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        img{
            display: block;
            width: 100px;
        }
        img.one-start{
            margin-left: -80px;
        }
        img.two-start{
            margin-left: -60px;
        }
        img.three-start{
            margin-left: -40px;
        }
        img.four-start{
            margin-left: -20px;
        }
        img.five-start{
            margin-left: 0;
        }
    }
}

#location{
    background: transparent url('../images/bottom-bg.jpg') center;
    .map-view{
        position: relative;
        iframe{
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .custom-border{
            position: absolute;
            width: 450px;
            height: 250px;
            display: block;
            z-index: 0;
            border-radius: 30px;
        }
        .custom-border.top-left{
            top: 0;
            left: 0;
            margin-left: -20px;
            margin-top: -20px;
            background-color: $amt-color;
        }
        .custom-border.bottom-right{
            bottom: 0;
            right: 0;
            margin-bottom: -20px;
            margin-right: -20px;
            background-color: $yet-color;
        }
    }
}

#payments{
    background: transparent url('../images/bottom-bg.jpg') center bottom;
}

#schedule{
    background-color: $amt-color;
    position: relative;
    .corner-block{
        position: absolute;
        display: block;
        width: 155px;
        height: 150px;
        background-color: $yet-color;
    }
    .corner-block.top-left{
        top: 0;
        left: 0;
        margin-top: -75px;
        border-radius: 0px 40px 40px 0px;
    }
    .corner-block.bottom-right{
        bottom: 0;
        right: 0;
        margin-bottom: -75px;
        border-radius: 40px 0px 0px 40px;
    }
}

#contacts{
    background: transparent url('../images/foot-bg.png') center top no-repeat;
    padding-bottom: 40px;
}

/* Footer styles */
.footer{
    padding-top: 15px;
    background-color: $primary-color;
    font-size: 9pt;
    font-family: 'Poppins';
    .foot-menu{
        text-align: center;
        width: 100%;
        display: block;
        height: 40px;
        li{
            padding-left: 10px;
            padding-right: 10px;
            a{
                color: #FFF;
            }
        }
    }
    .foot-box{
        padding: 10px;
    }
}

/* Mobile styles */