---
layout: bar
title: Galería de imágenes y videos
---
<div class="page">
    <div class="page-title"><h3>Fotos y videos {{link}}</h3></div>
    <div class="page-body">
        <div class="gallery center">
            <div class="row center" style="width: 720px;">
                {% for photo in site.data.gallery %}
                {% assign a = forloop.index | divided_by: 3 %}
                {% assign b = 3 | times: a %}
                <div class="col-3" style="margin: 20px; width: 200px;">
                    <div style="width: 200px; height: 150px; background: #000 url({{photo.tmp}}) center no-repeat;">
                        <a href="{{photo.src}}">Ver Imagen</a>
                    </div>
                </div>
                {% if b == forloop.index %}
            </div>
            <div class="row center" style="width: 720px;">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

var gallery = [
/*{% for photo in site.data.gallery %}*/
{"name":"{{photo.name}}","src":"{{photo.src}}"},
/*{% endfor %}*/
];

var owl = $('#owl-preview');

owl.owlCarousel({
    loop:true,
    nav:true,
    items: 1,
    margin: 10,
    autoHeight: true
}).on('changed.owl.carousel', function(event){

    var data = gallery[event.page.index];

    var extension = (/[.]/.exec(data.src)) ? /[^.]+$/.exec(data.src) : undefined;

    if(extension[0] == 'jpg' || extension[0] == 'jpeg'){

        

        var loadingAnim = $(document.createElement('div')).attr({class:'lds-dual-ring'});
        owl.append(loadingAnim);

        $.ajax({
            url: data.src,
            cache: false,
            xhr: function () {
                var xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                return xhr;
            },
            complete: function () {
                loadingAnim.remove();
            }
        }).done(function (response) {

            var fileReader = new FileReader();
            fileReader.onloadend = function () {
                if (this.result.match(/^data:image/)) {
                    $(`.item.${data.name}`).find('img').attr({ src: data.src })
                }
            }
            fileReader.readAsDataURL(response);
        });

    }

});
</script>