---
layout: default
title: Ukú Pamá Bar Restaurante
---

{% include showcase.html %}

<div class="content">

	<!-- Area nosotros editado -->

	<div id="bussines" class="content-section">
		<div class="title top-headlines">
			<h2>Negocio</h2>
		</div>
		{% for item in site.data.bussines %}
		<div class="custom-2" style="background-image: url('{{item.src}}'); background-position: {{item.position}}; background-repeat: {{item.repeat}};">
			<div class="details {{ item.dir }}">
				<div class="title">
					<h3>{{ item.title }}</h3>
				</div>
				<div class="text">
					{{ item.description }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Area galería -->

	<div id="gallery" class="content-section">
		<div class="title top-headlines">
			<h2>Fotos y videos</h2>
		</div>
		<div class="custom-3">
			<div class="row">
				{% assign limit = 4 %}
				{% for data in site.data.gallery %}
				{% assign index = forloop.index %}
				{% if index > limit %}
			</div><div class="row">
				{% assign limit = limit | plus: 4 %}
				{% endif %}
				<div class="col-3">
					<div class="box">
						<img class="item-thumbnail" src="{{data.thumbnail}}">
						<div class="options">
							<div class="area">
								<button class="btn btn-icon" onclick="$.preview({src:'{{data.src}}'});"><img class="nav-icon"
									data-src="images/svg/magnifying-glass.svg"></button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Area servicios editado -->

	<div id="products" class="content-section">
		<div class="title top-headlines">
			<h2>Nuestro menu</h2>
		</div>
		<div class="custom-3">
			<div class="title top-subline">
				<h3 class="text-content">Bebidas preparadas en el bar</h3>
			</div>
			<div class="row">
				{% assign limit = 3 %}
				{% for drink in site.data.drinks %}
				{% assign index = forloop.index %}
				{% if index > limit %}
			</div>
			<div class="row">
				{% assign limit = limit | plus: 3 %}
				{% endif %}
				<div class="col-4">
					<div class="box">
						<img class="item-thumbnail" src="{{drink.image}}">
						<div class="options">
							<div class="area">
								<ul class="nav-list list-inline">
									<li><button class="btn btn-icon"><img class="nav-icon"
												data-src="images/svg/heart.svg"></button></li>
									<li><button class="btn btn-icon"><img class="nav-icon"
												data-src="images/svg/cart.svg"></button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="custom-3">
			<div class="title top-subline">
				<h3 class="text-content">Platos del restaurante</h3>
			</div>
			<div class="row">
				{% assign limit = 2 %}
				{% for food in site.data.foods %}
				{% assign index = forloop.index %}
				{% if index > limit %}
			</div>
			<div class="row">
				{% assign limit = limit | plus: 2 %}
				{% endif %}
				<div class="col-6">
					<div class="box">
						<img class="item-thumbnail" src="{{food.image}}">
						<div class="options">
							<div class="area">
								<div class="top-subline"><b>{{food.name}}</b></div>
								<br>
								<button class="btn btn-basic"><img class="nav-icon btn-icon"
										data-src="images/svg/cart.svg"> ORDENAR</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="reviews" class="content-section">
		<div class="title top-headlines">
			<h2>Testimonio de nuestros clientes</h2>
		</div>
		<div class="owl-carousel owl-theme">
			{% for review in site.data.reviews %}
			<div class="item">
				<div>
					<h4>{{review.title}}</h4><br>
					<sub>Publicado el {{review.date}}</sub><br>
					<br>
				</div>
				<div>
					<p>{{review.text}}</p>
				</div>
				<div>
					<br>
					<sub>Por {{review.nickname}}</sub><br>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div id="contacts" class="content-section">
		<div class="title top-headlines">
			<h2>Redes y contactos</h2>
		</div>
		<div class="links-nav text-center">
			<ul class="nav-list list-inline">
				<li>
					<a title="+593-99-631-6288" target="_blank" href="https://wa.me/593996316288?text=Hola%2C%20quiero%20saber%20m%C3%A1s"><img class="nav-icon"
							data-src="images/svg/005-whatsapp.svg"></a>
				</li>
				<li>
					<a title="@ukupama_" target="_blank" href="https://www.instagram.com/ukupama_"><img class="nav-icon"
							data-src="images/svg/029-instagram.svg"></a>
				</li>
				<li>
					<a title="@Ukupamainfo" target="_blank" href="https://www.facebook.com/Ukupamainfo"><img class="nav-icon"
							data-src="images/svg/036-facebook.svg"></a>
				</li>
				<li>
					<a title="Ukù-Pamá Lounge" target="_blank" href="https://www.tripadvisor.com/Restaurant_Review-g1732554-d18850352-Reviews-Uku_Pama_Lounge-Puerto_Villamil_Isabela_Galapagos_Islands.html"><img class="nav-icon"
							data-src="images/svg/tripadvisor-icon.svg"></a>
				</li>
			</ul>
		</div>
		<div class="links-nav text-center">
			<ul class="nav-list list-inline">
				<li>
					<img class="none" style="width: 160px;" src="images/whatsapp-qr.png"></a>
				</li>
				<li>
					<img class="none" style="width: 160px;" src="images/instagram-qr.png"></a>
				</li>
				<li>
					<img class="none" style="width: 160px;" src="images/facebook-qr.png"></a>
				</li>
				<li>
					<img class="none" style="width: 160px;" src="images/tripadvisor-qr.png"></a>
				</li>
			</ul>
		</div>
		<div class="content-section">
			<div class="title top-subline">
				<h3 class="text-content">Ubicación de Uku Pama</h3>
			</div>
			<div class="IQ1KEb" jslog="56034; track:impression,click"><a href="https://www.google.com/maps/place/UK%C3%9A+PAM%C3%81/data=!3m1!4b1!4m2!3m1!1s0x9aabeb5fcb13ad25:0x2f3cea18babcadee" target="_blank" itemprop="hasMap" data-tracking-element-type="7"><div class="QMbmRe" style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=es-419&amp;region=EC&amp;markers=color:0xddaa44|-0.9570884,-90.9643729&amp;zoom=16&amp;client=google-presto&amp;signature=j4kqeczC8RHYc9wZ2pJcL1fORx8')" title="El mapa muestra la ubicación de la empresa."></div></a></div>
		</div>
		<div class="content-section text-center">
			<p>Horarios de apertura</p>
			<p>Cena con nosotros o pide para llevar</p>
			<p>Lunes - Sábado: 7:00 a. m. - 22:00 p. m.Domingo: 11:00 a. m. - 9:00 p. m.</p>
			<br>
			<p>Art. 163 of Constitution of Ecuador and Identification Organic Laws regulate people to carry an ID. El art. 163 de la Constitución del Ecuador y la Ley Orgánica de Identificación regula a las personas que deben portar un documento de identificación.</p>
			<br>
			<button class="btn btn-basic" onclick="window.location.href='mailto:managament-@ukupama.com'">Solicitar reserva</button>
			<button class="btn btn-basic" onclick="window.location.href='tel:593988725883'">Reserva por llamada</button>
			<br>
			<br>
			<p>
				<span><img style="width: 164px;" src="images/arci.jpeg"><img style="width: 200px;" src="images/bar-letter.jpeg"></span>
			</p>
			<br>
			<p><b>Aceptamos todas las tarjetas de crédito</b></p>
			<p>
				<span><img style="width: 50px;display:icon;" src="images/icons/visa.png"></span>
				<span><img style="width: 50px;display:icon;" src="images/icons/mastercard.png"></span>
				<span><img style="width: 50px;display:icon;" src="images/icons/amex.png"></span>
			</p>
		</div>
	</div>

</div>