<div class="background-view">
    <video class="v-area" autoplay muted loop>
        <source src="images/bar_cam.webm" type="video/webm">
        <source src="images/bar_cam.mp4" type="video/mp4">
    </video>
    <div class="cover">
        <div class="content">
            <div class="box custom-1">
                <div class="text-center">
                    <h3>Sabores atrevidos</h3>
                    <br>
                    <p>Ukù pamà lounge es un lugar donde la buena cocina cócteles y música en vivo el ambiente se combinan de una manera muy especial. Los alimentos que preparamos son nutritivos y deliciosos, perfectos para enamorar a comensales de cualquier edad. Reserva y compruébalo por ti mismo.</p>
                    <p>UKU PAMA is a BEMBA language word from African tribes songs, it means to BE BRAVE<br>
                        UKU PAMA es una palabra del idioma BEMBA de canciones de tribus Africanas,<br>
                        <br>
                        significa SER VALIENTE.</p>
                    <br>
                    <p><a class="link-menu lnk-scroll-down" href="/home#gallery">Galería</a></p>
                </div>
            </div>
        </div>
    </div>
</div>