<div class="background-view white-color">
    <div class="content">
        <img class="image" src="{{ 'images/cover-2.png' || relative_url }}">
        <!--<div class="titles full bottom">
            <div class="dialog right" style="margin-bottom: 70px; margin-right: 120px;">
                <div class="text-center">
                    <div class="r-mark red default">
                        <span class="t3 poppins-medium lh3" style="font-size: 21pt;">El mejor lugar para</span>
                    </div>
                    <div class="lh4">
                        <span class="t5 poppins-extrabold text-shadow" style="font-size: 39pt;">Disfrutar...</span>
                    </div>
                </div>
            </div>
            <div class="dialog bottom left">
                <div class="r-mark red padding-1 lh2 poppins-medium"><span class="t2" style="font-size: 17pt;">Conoce más</span></div>
            </div>
        </div>-->
    </div>
</div>