<div class="background-view">
    <video class="v-area" autoplay muted loop>
        <source src="videos/bar_cam.m4v" type="video/mp4">
    </video>
    <div class="cover">
        <div class="content">
            <div class="box custom-1">
                <div class="text-center">
                    <br>
                    <h3>Hecha un vistazo más sobre el lugar en nuestra galería de fotos</h3>
                    <br>
                    <p><button class="btn btn-basic">Ver galería</button></p>
                </div>
            </div>
        </div>
    </div>
</div>