<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css">
	<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
	<title>{{ page.title }} - Ukupama</title>
</head>
<body>
	<div class="container">
		<div class="side-button">
			<button id="button-nav" class="btn btn-collpase"><img class="nav-icon" data-src="/images/svg/menu.svg"></button>
		</div>
		<div class="side-navigation collapsed">
			<div class="container-options right">
				<button title="Salir de bar" class="btn btn-icon" onclick="window.document.location.href = '/'"><img data-size="30x30" class="nav-icon" data-src="/images/svg/chevron-left.svg"></button>
			</div>
			<nav class="container-navbar">
				<div class="medium">
					<ul class="nav-list menu-list">
						{% for item in site.data.bar %}
						<li>
							<a href="{{ item.link }}">{{ item.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="content">{{ content }}</div>
	</div>
	<script type="text/javascript" src="/js/svg-injector.min.js"></script>
	<script type="text/javascript">

	$(document).click(function(event){
		var target = $(event.target), collpase = function(){
			var navigation = $('.side-navigation');
			if(navigation.is('.collapsed')){
				navigation.stop().animate({
					left: 0
				}, 250, function(){
					navigation.removeAttr('style').removeClass('collapsed');
				});
			}else{
				navigation.stop().animate({
					left: '-200px'
				}, 250, function(){
					navigation.removeAttr('style').addClass('collapsed')
				});
			}
		};

		if(target.is('.side-navigation, .side-navigation *, #button-nav, #button-nav *')){
			
			if(target.is('#button-nav, #button-nav *')){
				collpase();
			}

		}else
		if(!$('.side-navigation').is('.collapsed')){
			collpase();
		}
		
		event.stopPropagation();
		return;
	});

	SVGInjector($('.icon'), {
		each: function (svg) {
			$(svg).find('*').css({ fill: '#3d240c' });
		}
	});
	
	SVGInjector($(document).find('.nav-icon'), {
		evalScripts: 'once',
		each: function (svg) {
			if(svg.getAttribute('data-size')){
				var sizes = svg.getAttribute('data-size').split('x');
				$(svg).css({width: sizes[0], height: sizes[1]});
			}
		}
	});
	</script>
</body>
</html>