<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css">
	<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
	<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="/js/plugin.jplayer.min.js"></script>
	<script type="text/javascript" src="/js/plugin.modal.js"></script>	
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/site.js"></script>
	<style type="text/css">
		.body-onload{
			overflow: hidden;
		}
		.loading{
			display: none;
		}

		#map {
			height: 400px;
			/* The height is 400 pixels */
			width: 100%;
			/* The width is the width of the web page */
		}

	</style>
</head>
<!-- Body content -->
<body class="loading">

	<div class="container">

		{% include navigation.html %}

		{{ content }}

		<div class="footer">
			<div class="content">
				<sub class="text-content">
					<div class="links-nav text-center">
						<ul class="nav-list list-inline">
							<li>
								<a title="+593-99-631-6288" target="_blank" href="https://wa.me/593996316288?text=Hola%2C%20quiero%20saber%20m%C3%A1s"><img class="nav-icon"
										data-src="images/svg/005-whatsapp.svg"></a>
							</li>
							<li>
								<a title="@ukupama_" target="_blank" href="https://www.instagram.com/ukupama_"><img class="nav-icon"
										data-src="images/svg/029-instagram.svg"></a>
							</li>
							<li>
								<a title="@Ukupamainfo" target="_blank" href="https://www.facebook.com/Ukupamainfo"><img class="nav-icon"
										data-src="images/svg/036-facebook.svg"></a>
							</li>
							<li>
								<a title="Ukù-Pamá Lounge" target="_blank" href="https://www.tripadvisor.com/Restaurant_Review-g1732554-d18850352-Reviews-Uku_Pama_Lounge-Puerto_Villamil_Isabela_Galapagos_Islands.html"><img class="nav-icon"
										data-src="images/svg/tripadvisor-icon.svg"></a>
							</li>
						</ul>
					</div>
					©2022 Ukù Pamà Lounge.
				</sub>
			</div>
		</div>

	</div>
	<!-- Script jQuery -->
	<script type="text/javascript" src="js/svg-injector.min.js"></script>
	<script type="text/javascript">

		$('.lnk-scroll-down').click(function(){
			$([document.documentElement, document.body]).animate({scrollTop: $(this.hash).offset().top}, 500);
		});

		$('.tab-mode').find('.tab-content').each(function(index, item){

			var parent = $(this).parent();

			parent.find('.tab-title:eq('+index+')').click(function(){

				parent.find('.tab-title').removeClass('selected');
				parent.find('.tab-content').removeClass('selected').hide();

				$(this).addClass('selected');
				$(item).show().addClass('selected');

			});

			if(!$(item).is('.selected')){
				$(item).hide();
			}

		});

		//Menu carousel
		$('.owl-menu').owlCarousel({
			center: true,
			loop: true,
			nav: true,
			lazyLoad: true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:3
				},
				1000:{
					items:5
				}
			}
		}).on('changed.owl.carousel', function(e){
		});

		// Reviews carousel
		$('.owl-carousel.reviews').owlCarousel({
			loop: true,
			margin: 10,
			nav: false,
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 2
				},
				1000: {
					items: 3
				}
			}
		});

		$(document).click(function (event) {

			var target = $(event.target), collpase = function () {

				var menu = $('#mobile-menu');

				if (menu.is('.collapsed')) {

					menu.stop().animate({
						left: 0
					}, 250, function () {
						menu.removeAttr('style').removeClass('collapsed');
					});

				} else {
					menu.stop().animate({
						left: '-200px'
					}, 250, function () {
						menu.addClass('collapsed').removeAttr('style')
					});
				}
			}

			if (target.is('#mobile-menu, #mobile-menu *, .btn-collpase, .btn-collpase *')) {

				if (target.is('.btn-navbar.btn-collpase, .btn-collpase *')) {
					collpase();
				}

			} else
				if (!$('#mobile-menu').is('.collapsed')) {
					collpase();
				}

			event.stopPropagation();

			return;
		});

		$('.custom-3 .box').each(function (index, item) {

			$(item).hover(function () {
				$(item).find('.options').stop().fadeIn(400);
			}, function () {
				$(item).find('.options').stop().fadeOut(400);
			});

		});

		SVGInjector($('.nav-image'), {
			each: function (svg) {
				$(svg).find('*').css({ fill: '#FFF' });
			}
		});

		SVGInjector($(document).find('.nav-icon'), {
			evalScripts: 'once'
		});

	</script>
</body>
</html>