---
layout: restaurant
title: Menu
---
<div>
    <h1 class="text-family" style="color: #120600;">MENU</h1>
    <br>
    <div class="text-book">
        {% for menus in site.data.restaurant_menus %}
        <h2 class="text-center text-family" style="color: #120600;">{{menus.title}}</h2>
        <div class="row box text-family">
            <div class="col-6 prime">
                <div class="custom-book" style="background-color: #FEEDD4; color: #433634;">
                    {% for menu in menus.front-list %}
                    <div class="row">
                        <div class="col-10">{{menu.desc}}</div>
                        <div class="col-2"><div class="text-center">{{menu.price}}</div></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6 prime">
                <div class="custom-book" style="background-color: #433634; color:#FEEDD4;">
                    {% for menu in menus.back-list %}
                    <div class="row">
                        <div class="col-10">{{menu.desc}}</div>
                        <div class="col-2"><div class="text-center">{{menu.price}}</div></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>